.mobile-menu{
    display: none;
}

.main-icon {
    color: #ffc107;
}

.dropdown-menu{
    display: none;
}

.footer-sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer.static {
    position: static;
}

@media (min-width: 768px) {
    .margin-login {
        margin-top: -66px;
    }

    /*.margin-product {*/
    /*    margin-top: -115px;*/
    /*}*/
}
